$text-font-stack: 'Inter', sans-serif;

$scrollbar-size: 6px;

$grid-columns: 12;
$grid-width: 20px;

// all z-indexes
$z-index-layout-col-1: 3 !default;
$z-index-layout-col-2: 2 !default;
$z-index-layout-col-3: 1 !default;
$z-index-layout-col-3-1: 5 !default;
$z-index-layout-col-3-2: 4 !default;

// The z-index of modal and context must always be the same because they can be nested
// inside each other. The order in html decided which must be shown over the other.
$z-index-modal: 7 !default;
$z-index-context: 7 !default;

// The tooltip is only visible on hover and because of that it can be over the modals
// and contexts.
$z-index-tooltip: 8 !default;

// The toasts will be on top of anything else, because the message is temporary
// and must always be visible.
$z-index-toasts: 9 !default;

// normalize overrides
$base-font-family: $text-font-stack !default;
$font-awesome-font-family: 'Font Awesome 5 Free', sans-serif !default;
$font-awesome-font-weight: 900 !default;

// API docs variables
$api-docs-nav-width: 220px !default;
$api-docs-header-height: 52px !default;
$api-docs-header-z-index: 4 !default;
$api-docs-databases-z-index: 5 !default;
$api-docs-nav-z-index: 3 !default;
$api-docs-body-z-index: 2 !default;
$api-docs-background-z-index: 1 !default;
$api-docs-breakpoint: 1100px !default;

// file field modal variables
$file-field-modal-head-height: 62px !default;
$file-field-modal-body-nav-width: 120px !default;
$file-field-modal-foot-height: 108px !default;

$dashboard-breakpoint: 1100px;

$builder-page-max-width: 1280px;
