.add {
  display: inline-block;
  padding: 0 5px;
  background-color: $color-primary-100;
  border-radius: 3px;
  color: $color-neutral-900;

  @include fixed-height(22px, 13px);

  &:hover {
    background-color: $color-primary-200;
    text-decoration: none;
  }
}

.add__icon {
  font-size: 12px;
}
