.color-select-context__colors {
  display: flex;
  flex-direction: column;
  padding: 12px;
  gap: 12px;
}

.color-select-context__row {
  display: flex;
  flex-direction: row;
  gap: 12px;
}

.color-select-context__color {
  position: relative;
  height: 28px;
  width: 28px;
  border-radius: 3px;

  &:not(.active):hover {
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.08);
  }

  &.active::before {
    font-family: $font-awesome-font-family;
    font-weight: $font-awesome-font-weight;
    content: fa-content($fa-var-check);
    color: $color-neutral-900;
    text-align: center;
    font-size: 13px;
    transform: translateX(-50%) translateY(-50%);

    @include fa-icon;
    @include absolute(50%, auto, auto, 50%);
  }
}
