.expand-overflow-list {
  display: flex;
  align-items: center;
}

// The expand-overflow-list css below uses flexbox wrapping behaviour to hide overflowing records.
.expand-overflow-list__container {
  height: 49px;
  margin-right: 5px;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  overflow: hidden;
  flex-shrink: 3;
}

// Teams which do not fit in the records cell will wrap down into new hidden rows below
.expand-overflow-list__item {
  @include fixed-height(28px, 12px);

  flex: 0 1 auto;
  border-radius: 15px;
  padding: 0 10px;
  margin-right: 5px;
  margin-top: 11px;
  margin-bottom: 10px;
  background-color: $color-neutral-100;
  box-sizing: border-box;
}

// An empty no width item always at the start of the .expand-overflow-list__container will
// ensure the first real record will wrap down into a new row if it does not fit.
// Otherwise this first record will be shown in the cell but overflowing with it's text
// cut off which is not desired.
.expand-overflow-list__empty-item {
  @include fixed-height(28px, 12px);

  flex: 0 1 auto;
  margin-top: 11px;
  margin-bottom: 10px;
  box-sizing: border-box;
  order: -2;
  color: $color-neutral-600;
}

.expand-overflow-list__expand {
  @include fixed-height(28px, 12px);

  padding: 0 10px;
  border-radius: 15px;
  border: 1px solid $color-neutral-200;
  color: $color-neutral-900;
  box-sizing: border-box;
  margin-top: 10px;
  margin-bottom: 9px;
  user-select: none;

  &:hover {
    text-decoration: none;
    background-color: $color-neutral-100;
  }
}

.expand-on-overflow-hidden-context__dropdown-item {
  @include fixed-height(28px, 12px);

  border-radius: 15px;
  margin: 5px 10px;
  background-color: $color-neutral-100;
  box-sizing: border-box;
  width: fit-content;
}
