.get-formula-component {
  display: inline-block;
  padding: 2px 8px;
  background-color: $color-neutral-100;
  font-size: 12px;
  margin: 1px 0;
  border-radius: 3px;
  user-select: all;
  line-height: 18px;
}

.get-formula-component__caret {
  color: $color-neutral-300;
  padding-left: 3px;
  padding-right: 3px;
  font-size: 12px;
}

.get-formula-component__remove {
  color: $color-neutral-500;
  padding-left: 4px;
  font-size: 10px;

  &:hover {
    text-decoration: none;
    color: $color-neutral-900;
  }
}
