.paginator {
  display: flex;
  align-items: center;
}

.paginator__name {
  margin-right: 14px;
}

.paginator__group {
  display: flex;
  border: solid 1px $color-neutral-400;
  border-radius: 3px;
  overflow: hidden;
  background-color: $white;

  > * {
    @include fixed-height(24px, 12px);

    &:not(:last-child) {
      border-right: solid 1px $color-neutral-400;
    }
  }
}

.paginator__button {
  color: $color-neutral-900;
  text-align: center;
  padding: 0 10px;

  &:hover {
    background-color: $color-neutral-100;
  }

  &.paginator__button--disabled {
    cursor: initial;
    background-color: $color-neutral-100;
  }
}

.paginator__page-input {
  border: 0;
  border-radius: 0;
  width: 40px;
  text-align: center;
  -moz-appearance: textfield;

  &::-webkit-outer-spin-button,
  &::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
}

.paginator__count {
  padding: 0 10px;
  color: $color-neutral-500;
  border-right: solid 1px $color-neutral-400;
}
