.row-history {
  @include absolute(0, 0, 0, 0);

  display: flex;
  flex-direction: column;
}

.row-history__body {
  position: relative;
  height: 100%;
  overflow-y: auto;
  border-top-left-radius: 6px;

  .infinite-scroll {
    padding-bottom: 10px;
  }
}

.row-history__empty {
  text-align: center;
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin: 0 30px 0 30px;
  height: 100%;
  border-top-left-radius: 6px;
}

.row-history__empty-icon {
  font-size: 30px;
  margin-bottom: 30px;
}

.row-history__empty-text {
  font-size: 14px;
  line-height: 160%;
  margin-bottom: 30px;
}

.row-history__loading {
  display: flex;
  justify-content: center;
  padding: 20px 0;
}
