.select-application__title {
  font-size: 14px;
  font-weight: 600;
  margin-bottom: 20px;
  line-height: 140%;
}

.select-application__group {
  font-size: 14px;
  color: $color-neutral-900;
  margin-bottom: 20px;
}

.select-application__list {
  position: relative;
  z-index: 1;
  list-style: none;
  margin: 0 0 30px 0;
  padding: 0;

  li:not(:last-child) {
    margin-bottom: 24px;
  }
}

.select-application__link {
  position: relative;
  display: flex;
  margin-right: 20px;
  user-select: none;

  &::before {
    @include absolute(-8px);

    content: '';
    border-radius: 3px;
    z-index: -1;
  }

  &:hover {
    text-decoration: none;

    &::before {
      background-color: $color-neutral-100;
    }
  }

  &.active::before {
    background-color: $color-neutral-200;
  }
}

.select-application__icon {
  @include center-text(32px, 14px);

  flex: 0 0 32px;
  background-color: $color-primary-500;
  border-radius: 3px;
  color: $white;
  font-size: 14px;
  margin-right: 12px;
}

.select-application__name {
  @extend %ellipsis;

  color: $color-neutral-900;
  width: 100%;
  line-height: 32px;
}
